# Python
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/

# Build artifacts
build/
dist/
*.o
*.bin

# AI model files
ai-voice/share/models/

# Binaries & packages
ai-hub/aim
ai-hub/build/
*.apk

# System / runtime
.venv/
venv/
*.log
